<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <%# Here is a link using article_path %>
      <td><%= link_to 'Show', article_path(article) %></td> 
      <td><%= link_to 'Edit', edit_article_path(article) %>
      <td><%= link_to 'Destroy', article_path(article), 
    method: :delete,
    data: {confirm: "Are you sure lol?"} %></td>
    </tr>
  <% end %>
</table>

<%# This URL is magically defined when creating the controller? I think? dunno  %>
<%= link_to 'Create new article', new_article_path %>
